apiVersion: v1
kind: ConfigMap
metadata:
  name: bonitto
data:
  REDIS_URL:
  WORKER_INTERVAL_MS:
  KUBERNETES_SERVICE_HOST:
  KUBERNETES_SERVICE_PORT:
  IMAGE_TESTER:
  IMAGE_JAVASCRIPT:
  IMAGE_JAVA:
  IMAGE_GOLANG:
  IMAGE_CPP:
  COMMAND_JAVASCRIPT:
  COMMAND_JAVA:
  COMMAND_GOLANG:
  COMMAND_CPP:
